* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  margin: 6%;
}
.inner {
  overflow: hidden;
}
.inner img {
  transition: all 1.5s ease;
  overflow: hidden;
}
.inner:hover img {
  transform: scale(1.5);
}
